.link {
  font-size: 0.9em;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

.link:hover {
  color: var(--hover-color);
  cursor: pointer;
  text-decoration: underline;
}
