.menu {
  position: relative;
  width: 100%;
  transition: 0.3s;
}

.buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 100;
}

.menu:hover .buttons {
  opacity: 1;
  pointer-events: all;
}

.content {
  pointer-events: none;
}
