.twoParagraphsWrapper {
  width: 49%;
}

.twoParagraphsWrapper:first-child {
  margin-right: 2%;
}

.paragraph {
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 5px;
}

@media (max-width: 768px) {
  .twoParagraphsWrapper {
    width: 100%;
  }

  .twoParagraphsWrapper:first-child {
    margin-right: 0;
  }
}