.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 900;
}

.header + * {
  margin-top: 70px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 90%;
}

.logo {
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.nav {
  display: flex;
  height: 100%;
}

.logo:hover {
  cursor: pointer;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 500;
  color: #fff;
  transition: 0.3s;
}

.navLink:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}
